<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>get coin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>270454D31D1F7C06002C6637</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>270454EB1D1F7C07002C6637</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>270454F61D1F7C07002C6637</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
